@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Sirin+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap');
@import "tailwindcss";

/* Custom styles */
body {
  @apply bg-white dark:bg-black text-black dark:text-white;
  font-family: 'DM Sans', sans-serif;
}

/* Font classes */
.font-dm {
  font-family: 'DM Sans', sans-serif;
}

.font-sirin {
  font-family: 'Stick No Bills', sans-serif;
}

/* Theme transitions */
.transition-theme {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Custom cursor behavior */
.cursor-none {
  cursor: none;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

.bg-grid-dark {
  background-image: 
    linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px);
  background-size: 30px 30px;
}

.bg-grid-light {
  background-image: 
    linear-gradient(rgba(0,0,0,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,0,0,0.03) 1px, transparent 1px);
  background-size: 30px 30px;
}